<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Identity - Voting</title>
    <meta name="description" content="The voting page for the Identity setup">
    <meta name="author" content="Noah Freriksen">

    <meta property="og:title" content="Identity - Voting">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The voting page for the Identity setup">

    <link rel="stylesheet" href="vote.css">

    </head>

    <body>
        <div id="form">
            <p><img alt="" width="420" height="420"
                class="image" id="portrait"/></p>
            <div class="title">
                <h1>How does this person come across to you?</h1>
                <h1>Select the trait that fits this person best</h1>
            </div>
            <script type="module" src="tv.js"></script>
        </div>
    </body>
</html>
