<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <script src="https://js.pusher.com/7.0/pusher.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Identity - Voting</title>
    <meta name="description" content="The voting page for the Identity setup">
    <meta name="author" content="Noah Freriksen">

    <meta property="og:title" content="Identity - Voting">
    <meta property="og:type" content="website">
    <meta property="og:description" content="The voting page for the Identity setup">

    <link rel="stylesheet" href="vote.css">

    </head>

    <body>
        <div class="form" id="form">
            <div class="featureList" id="featureList"></div>
            <script type="module" src="vote.js"></script>
        </div>
    </body>
</html>
