body
{
    background-image: url('neural.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
}

.form
{
    vertical-align: middle;
}

.video
{
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

.feature-button
{
    width: 30vw;
    padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 8px 8px 8px 8px;
    color: #fbdedb;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-family: sans-serif;
    font-weight: 800;
    font-size: calc(16px + 3 * ((100vw - 320px) / 680));
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

.unselected
{
    background-color: #2ddb9e; /* Green */
}

.selected
{
    background-color: #4CAF50; /* Green */
}

.confirm
{
    background-color: #28c48d;
}

.featureList
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align:center;
    margin-top: 40vh;
}



@media screen and (max-width: 90vh) 
{
    .image
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60vw;
        width: 60vw;
    }
    
}

.formm{
    display: none;
}

@font-face {
    font-family: "Bingana";
    src: url("/Bingana-6YGyx.otf") format("opentype"),
         url("/Bingana-ywxL3.ttf")  format("truetype")
}

.title {
    font-family: "Bingana", sans-serif;
    text-align: center;
    color: #FFF;
    display: block;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    margin-top: 10%;
    margin-bottom: 2px;
  }
  
  h1 {
      
    background-size: cover;
    background-position: center;
    color: grey;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 7vw;
    line-height: 1;
    margin: 10px 1 0 0;
  }

  h5 {
      
    background-size: cover;
    background-position: center;
    color: grey;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 5vw;
    line-height: .75;
    margin: 10px 0;
  }

@media screen and (min-width: 650px) 
{
    h1 {
        font-size: 3vw;
    }
}
@media screen and (min-width: 90vh) 
{
    .image
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 60vh;
        width: 60vh;
    }
}

.confirm
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}